<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <!-- <div class="field">
    <%= f.label :investment_types %>
    <%= f.check_box :investment_types %>
  </div> -->
  <%= f.fields_for :investment_types_hash do |ff| %>
    <%= ff.label 'Bonds' %>
    <%= ff.check_box :bonds, data: { toggle: 'toggle' } %>
    <%= ff.label 'Stocks' %>
    <%= ff.check_box :stocks, data: { toggle: 'toggle' } %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
